<nav class="navbar navbar-light bg-dark ">
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
</nav>

<div class="container col-md-12 mt-0">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Sign In</h3>

            </div>
            <div class="card-body">
                <form [formGroup]="RegisterForm">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="uname" name="username"
                            placeholder="Username" id="login_accno" required>

                    </div>
                    <div style="color: red;"
                        *ngIf="(this.RegisterForm.get('uname')?.touched||this.RegisterForm.get('uname')?.dirty)&&this.RegisterForm.get('uname')?.errors">
                        Invalid username</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" class="form-control" formControlName="acno" name="accountnumber"
                            placeholder="Account Number" required>
                    </div>
                    <div style="color: red;"
                        *ngIf="(this.RegisterForm.get('acno')?.touched||this.RegisterForm.get('acno')?.dirty)&&this.RegisterForm.get('acno')?.errors">
                        Invalid Account Number</div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pswd" name="passsss"
                            placeholder="password" required>
                    </div>
                    <div style="color: red;" *ngIf="(this.RegisterForm.get('pswd')?.touched||this.RegisterForm.get('pswd')?.dirty)&&this.RegisterForm.get('pswd')?.errors">Invalid Password</div>


                    <div class="form-group">
                        <input type="submit" value="Register" (click)="register()" class="btn float-right login_btn "
                            style="width:50%">
                    </div>
                </form>
            </div>
            <p style="color:white;align-items:baseline;">Already Exists <a routerLink="">Login</a></p>
        </div>
    </div>
</div>