<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center mt-4">
            <h2>Register Page</h2>
            <form [formGroup]="registerForm" (ngSubmit)="register()" action="">
                <div class="form text-center mt-4">
                    <input type="text" class="form-control mt-3" name="uname" formControlName="uname"
                        placeholder="Username" id="uname" required>
                    <div style="color:red;"
                        *ngIf="(this.registerForm.get('uname')?.touched||this.registerForm.get('uname')?.dirty)&&this.registerForm.get('uname')?.errors">
                        Invalid Username</div>
                    
                    <input type="text" class="form-control mt-3" name="name" formControlName="name"
                        placeholder="Your Name" id="name" required>
                    <div style="color:red;"
                        *ngIf="(this.registerForm.get('name')?.touched||this.registerForm.get('name')?.dirty)&&this.registerForm.get('name')?.errors">
                        Invalid Name</div>

                    <input type="text" class="form-control mt-3" name="pswd" formControlName="pswd"
                        placeholder="password" id="login_password" required>
                    <div style="color:red;"
                        *ngIf="(this.registerForm.get('pswd')?.touched||this.registerForm.get('pswd')?.dirty)&&this.registerForm.get('pswd')?.errors">
                        Invalid Password</div>

                    <button type="submit" class="btn btn-success mt-3">Register</button>
                </div>
            </form>
            <a href="" routerLink="/login">Login</a>
        </div>
        <div class="col-md-4"></div>
    </div>

</div>