#box1{
background-color: black;  
 width: 100px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
}
#box2{
    background-color: rgb(30, 12, 189);  
     width: 100px;
        height: 200px;
        margin-left: 300px;
        margin-top: -200px;
    }