

 <div class="container text-light border border-primary mt-5">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Events</th>
            </tr>
        </thead>
        <tbody>   
            <tr *ngFor="let event of eventsList; let index=index">
                <td>{{event._id}}</td>
                <td>{{event.date}}</td>
                <td>{{event.event}}</td>
                <td>
                    <i (click)="deleteItem(event.date,event.event)" class="fa fa-trash"></i>&nbsp;
                    <i routerLink="/update" class="fa fa-edit"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>

